## IS 362 Week 7
### The movies chosen for this week's assignment are 'The Batman, 'Encanto', 'Uncharted', 'Spider-Man: No Way Home', 'The Adam Project', and 'Texas Chainsaw Massacre'.
### First we will be finding the average rating for each user and the average rating for each movie.

In [21]:
import pandas as pd

In [22]:
# First Load the data to be examined

df = pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\Movie_Judgers_Club.csv.csv", index_col="Participants")
df

,The Batman,Turning Red,Uncharted,Spider-Man: No Way Home,The Adam Project,Texas Chainsaw Massacre
Participants,,,,,,
Taylor,4,4,5,5,2.0,NaN
Cierra,3,4,5,5,2.0,NaN
Justin,5,2,5,5,NaN,4.0
Odessa,3,4,2,5,3.0,2.0
Sha-Sha,4,4,4,5,NaN,NaN
Shane,5,2,5,5,NaN,4.0

In [23]:
# Now we will find the average ratings for each user.
# This will showcase the values from least to greatest.
df.T.mean().sort_values()

#Using df.T focuses on the index_col data.

Participants
Odessa     3.166667
Cierra     3.800000
Taylor     4.000000
Justin     4.200000
Shane      4.200000
Sha-Sha    4.250000
dtype: float64

In [24]:
# Find the average of Movie ratings
df.mean().sort_values()

The Adam Project           2.333333
Turning Red                3.333333
Texas Chainsaw Massacre    3.333333
The Batman                 4.000000
Uncharted                  4.333333
Spider-Man: No Way Home    5.000000
dtype: float64

In [25]:
# For this portion the the website, https://datagy.io/pandas-normalize-column/, was beneficial. It will also be used later on for standardized ratings.
# This formula will show the normalized data for the  entire dataframe.
df_norm = (df - df.min()) / (df.max() - df.min())

df_norm

,The Batman,Turning Red,Uncharted,Spider-Man: No Way Home,The Adam Project,Texas Chainsaw Massacre
Participants,,,,,,
Taylor,0.5,1.0,1.000000,NaN,0.0,NaN
Cierra,0.0,1.0,1.000000,NaN,0.0,NaN
Justin,1.0,0.0,1.000000,NaN,NaN,1.0
Odessa,0.0,1.0,0.000000,NaN,1.0,0.0
Sha-Sha,0.5,1.0,0.666667,NaN,NaN,NaN
Shane,1.0,0.0,1.000000,NaN,NaN,1.0

In [26]:
# Participants Normalized average.
df_norm.T.mean().sort_values()

Participants
Odessa     0.400000
Cierra     0.500000
Taylor     0.625000
Sha-Sha    0.722222
Justin     0.750000
Shane      0.750000
dtype: float64

In [27]:
# Movies Normalized average.
df_norm.mean().sort_values()

The Adam Project           0.333333
The Batman                 0.500000
Turning Red                0.666667
Texas Chainsaw Massacre    0.666667
Uncharted                  0.777778
Spider-Man: No Way Home         NaN
dtype: float64

## Conclusion
### Advantages of Normalized data: Normalization changes data to a common scale to be more comparable.
### Disadvantages of Normalized data: The scale of data is drastically changed which may affect numeric weight.
### In normalizing my own data the order of outcomes were not changed, however, the normalized data gave a smaller scale for me to more easily compare the difference in ratings.

## Extra Credit Attempt
####  Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [28]:
# Standardized data, z-score scaling, used standard deviation.
# Because of this z-score scaling falls between -3 to 3.
# We will continue to use Pandas mean and std functions here.
df_stand = (df - df.mean()) / (df.std())

df_stand

,The Batman,Turning Red,Uncharted,Spider-Man: No Way Home,The Adam Project,Texas Chainsaw Massacre
Participants,,,,,,
Taylor,0.000000,0.645497,0.550482,NaN,-0.577350,NaN
Cierra,-1.118034,0.645497,0.550482,NaN,-0.577350,NaN
Justin,1.118034,-1.290994,0.550482,NaN,NaN,0.577350
Odessa,-1.118034,0.645497,-1.926687,NaN,1.154701,-1.154701
Sha-Sha,0.000000,0.645497,-0.275241,NaN,NaN,NaN
Shane,1.118034,-1.290994,0.550482,NaN,NaN,0.577350

In [29]:
# Participants standardized data set
df_stand.T.mean().sort_values()

Participants
Odessa    -0.479845
Cierra    -0.124851
Sha-Sha    0.123419
Taylor     0.154657
Justin     0.238718
Shane      0.238718
dtype: float64

In [30]:
# Movies standardized data set
df_stand.mean().sort_values()

The Adam Project          -2.960595e-16
Turning Red               -1.480297e-16
Texas Chainsaw Massacre   -1.480297e-16
The Batman                 0.000000e+00
Uncharted                  2.405483e-16
Spider-Man: No Way Home             NaN
dtype: float64